.info-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.navbar-nav .nav-link.active {
    background-color: #315478 !important;
    color: #fff !important;
}

.navbar-light.sticky-top {
    background-color: #ffffff !important;
}

.row img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.row .col {
    padding: 10px;
}

.col img {
    width: 450px;
    height: 400px;
    object-fit: cover;
}

.nav-item {
    background-color: #b6b8b9;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
    transition: font-size 0.3s ease;

}

.logo {
    position: absolute;
    left: 1700px;
    top: 20px;
}

.nav-link {
    color: #192C3E;
}


.nav-item:hover {
    text-decoration: underline;
    color: black;
}

/*Boknings javascript box */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    border-radius: 100px;
    max-width: 400px;
    margin: auto;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}